language: python
python:
- '3.7'
- '3.8'
before_install:
- pip install poetry
install:
- poetry install
script:
- pytest --doctest-modules -v --cov feature_graph --cov-report term-missing
after_success:
- coveralls
before_deploy:
- poetry build
deploy:
  provider: script
  script: poetry publish
  on:
    condition: "$TRAVIS_PYTHON_VERSION == 3.7"
    branch: master
